//Shadow function
boxShadow(x, y, blur, spread, color)
  box-shadow: x y blur spread color
  -webkit-box-shadow: x y blur spread color

//Default alert
baseAlert()
  font-family fontFamily
  border-radius borderRadius
  width width
  font-size fontSize
  display none
  position fixed
  max-width 100vw
  max-height 100vh
  z-index 10 * 100
  top 5%
  @media (min-width: 321px)
    top 25%
  left 50%
  padding 10px
  boxShadow(0, 0, 10px, 0, rgba(0, 0, 0, 0.3))
  marginLeft(width)
  baseContent(backgroundHeader, backgroundBody, backgroundFooter)

//Default Overlay
baseOverlay(backg)
  display none
  opacity 0.5
  position fixed
  top 0px
  left 0px
  width 100vw
  height 100vh
  z-index 10
  background backg

//Default Content "header,body,footer'
baseContent(header, body, footer)
  .header
    background header
    color #232323
    text-align center
    font-size 0.75em
  .body
    padding 10px
    color #232323
    font-size 1.2em
    background body
    text-align center
  .footer
    background footer
    text-align center

buttonStyle()
  width 100px
  margin-top 5px
  margin-bottom 5px
  padding 5px
  font-size 0.9em
  word-wrap break-word
  font-family fontFamily
  border none

marginLeft(wd)
  margin-left (wd / 2) * -1;
  @media (max-width: wd)
    margin-left (100vw / 2) * -1;

hoverButton(color)
  &:hover
    background-color lightness(color, 40%)
    color lightness(color, 90%)

buttonsColors(color, bgcolor)
  background-color bgcolor
  color color
  hoverButton(color)