doctype html
html
  head
    meta(charset='utf-8')
    title custom-alert.js :: Demo
    link(rel="stylesheet", href="dist/css/custom-alert.css")
  body
    h1 custom-alert.js
    pre
      code
    a(href="#", onclick="demo1()") Click to demo.
    script(src="dist/js/custom-alert.min.js")
    script(src="demo/public/js/demo.js")
        
