//CONFIG ALERT
fontFamily = arial, helvetica

backgroundOverlay = #000000

background = #FFFFFF
width = 550px
borderRadius = 5px

backgroundHeader = background
backgroundBody = backgroundHeader
backgroundFooter = backgroundHeader

backgroundButton = #bababa
colorButton = #5E5E5E

fontSize = 20px

//CONFIG CONFIRM
backgroundConfirmOverlay = backgroundOverlay
backgroundConfirm = background

backgroundButtonTrue = #68bb74
backgroundButtonFalse = #E2614B
colorButtonTrue = lightness(backgroundButtonTrue, 20%)
colorButtonFalse = lightness(backgroundButtonFalse, 90%)

//REQUIRE
@require "customAlertFunctions"
@require "customAlertCss"